<div class="container-fluid">
  <div class="user-avatar-container">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 90, width: 90, crop: :fill, class: "rounded-circle", alt: "avatar-large" %>
    <% else %>
      <div class="initials-avatar">
        <div class="initials"><%= current_user.email[0..1].upcase %></div>
      </div>
      <%#= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    <% end %>
    <!-- need to add user_name to sign up page to display username on the user show page -->
    <!-- change current_user.email to: current_user.user_name -->
    <h4 class="username-info"> <%= current_user.email %> </h4>
  </div>

  <div class="tab-container">
    <!-- Tab links -->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#about">About me</a></li>
      <li><a data-toggle="tab" href="#posts">Posts</a></li>
    </ul>

    <!-- Tab content for About me -->
    <div class="tab-content">
      <div id="about" class="tab-pane fade in active">
       <ul>
        <!-- make the list dynamic for each user -->
        <li>firstname</li>
        <li>lastname</li>
      </ul>
      </div>
      <div id="posts" class="tab-pane fade">
        <div class="card-container-posts">
          <% current_user.posts.each do |post| %>
            <div class="card-body">
              <h4> Title: <%= post.title %> </h4>
              <p> Description: <%= post.description %> </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



