<div class="container-fluid">
  <div class="user-avatar-container">
    <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 90, width: 90, crop: :fill, class: "rounded-circle", alt: "avatar-large" %>
    <% else %>
    <div class="initials-avatar">
      <div class="initials"><%= @user.username[0..1].upcase %></div>
    </div>
    <%#= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    <% end %>
    <!-- need to add username to sign up page to display username on the user show page -->
    <h4 class="username-info"> <%= @user.username.downcase %> </h4>
  </div>

  <div class="tab-container">
    <!-- Tab links -->
    <ul class="nav nav-tabs">
      <li class="active"><a class="color-tag" data-toggle="tab" href="#about">About</a></li>
      <li><a class="color-tag" data-toggle="tab" href="#posts">Posts</a></li>
    </ul>
    <!-- Tab content for About me -->
    <div class="tab-content">
      <div id="about" class="tab-pane fadein active">
          <div class="d-flex flex-row">
            <h4><%= @user.name %></h4>
            <% if user_signed_in? && current_user.id == @user.id %>
            <div>
              <%= link_to edit_user_registration_path(current_user) do %>
              <i class="fas fa-user-edit icon-user-edit"></i>
              <br>
              <% end %>
            </div>
            <% end %>
          </div>

        <div class="user-container">
          <div class="about-info d-flex flex-column">
            <div class="user-containers">
              <p class="bold-text">Biography</p>
              <p><%= @user.biography %></p>
            </div>
            <div class="user-containers">
              <p class="bold-text">Location</p>
              <div class="d-flex flex-row p-10">
                <i class="fas fa-map-marker-alt icon-user-location"></i>
                <p><%= @user.location %></p>
              </div>
            </div>

            <div class="user-containers">
            <div>
             <p class="bold-text">Experience</p>
             <div>
              <% @user.experience.times do %>
              <i class="fas fa-star colored-star"></i>
              <% end %>
              <% (5 - @user.experience).times do %>
              <i class="fas fa-star uncolored-star"></i>
              <% end %>
            </div>
          </div>
          <div>
            <p class="bold-text">LinkedIn profile</p>
            <div class="d-flex flex-row p-10">
              <i class="fab fa-linkedin"></i>
              <p> <%= @user.url %></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Tab content for Posts -->
      <div id="posts" class="tab-pane fade">
        <div class="cards">
          <% @user.posts.each do |post| %>
          <div class="card">
            <%= link_to '', post_path(post), class:"no-hover-link card-link" %>
            <div class="card-inner-content">
              <div class="card-outer d-flex justify-content-center" >
                <% if post.photos.attached? %>
                  <div id="carouselExampleControls" data-interval="4000" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <% post.photos.each_with_index do |photo, index| %>
                        <div class="carousel-item <%= 'active' if index.zero? %>">
                          <%=cl_image_tag "#{photo.key}.jpg", class: "card-picture d-block w-100 "%>
                        </div>
                          <% end %>
                    </div>
                  </div>
                  <% else %>
                    <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path("obt2gawnkhhze7popquskpu4gxop")%>)">
                    </div>
                  <% end %>
                </div>
                <%# end %>
              </div>


            <div class="card-infos">
              <div class="row">
                <div class="col-10">
                  <br>
                  <h5><strong> <%= post.title.capitalize %> </strong></h5>
                  <%= link_to user_profile_path(post.user.username), class:"a-reply" do %>
                  <h6><%= post.user.username.capitalize %></h6>
                  <% end %>
                  <% post.categories.each do |category| %>
                  <button class="btn-info" style="opacity: 0.8;">
                    <%= category.name %>
                  </button>
                  <% end %>
                </div>
                <div class="col-2">
                  <br>
                  <div class="icon"> <i class="fas fa-comment-alt fa-s"></i> <i class="fas fa-eye fa-s"></i> </div>
                  <div class="icon"><p><%=  post.feedbacks.count %> </p><p> <%= post.views %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
