<div class="container-fluid">
  <div class="user-avatar-container">
    <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, height: 90, width: 90, crop: :fill, class: "rounded-circle", alt: "avatar-large" %>
    <% else %>
    <div class="initials-avatar">
      <div class="initials"><%= @user.user_name[0..1].upcase %></div>
    </div>
    <%#= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    <% end %>
    <!-- need to add user_name to sign up page to display username on the user show page -->
    <h4 class="username-info"> <%= @user.user_name %> </h4>
  </div>

  <div class="tab-container">
    <!-- Tab links -->
    <ul class="nav nav-tabs">
      <li class="active"><a class="color-tag" data-toggle="tab" href="#about">About me</a></li>
      <li><a class="color-tag" data-toggle="tab" href="#posts">Posts</a></li>
    </ul>

    <!-- Tab content for About me -->
    <div class="tab-content">
      <div id="about" class="tab-pane fade in active">
       <ul style="list-style: none; padding-inline-start: none">
        <!-- make the list dynamic for each user -->
        <li>Firstname: <%= @user.first_name %> </li>
        <li>Lastname: <%= @user.last_name %> </li>
      </ul>
    </div>
    <div id="posts" class="tab-pane fade">
      <div class="cards">
        <% @user.posts.each do |post| %>
        <div class="card">
          <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://source.unsplash.com/random)">
            <ul style="list-style-type: none;">
              <% post.photos.each do |photo| %>
              <%= cl_image_tag "#{photo.key}.jpg", height: 300, width: 400, crop: :fill %>
              <% end %>
              <li> <h2> <%= post.title %> </h2></li>
              <li><%= post.description %></li>
              <% post.categories.each do |category| %>
              <li><%= category.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
</div>




