<%= render 'shared/banner' %>

<div class="get-started" style="background-color: #FFAC00">
    <div class="join-community-container">
    <h1><strong>How To Get Started</strong></h1>
    <br>
  </div>
  <div class="get-started-container" >
    <%= image_tag "group_1.svg", width: "115%", height: "auto"%>

  </div>
 </div>
<!-- <div class="join-community" style="background-color: #FFAC00">
  <div class="join-community-container">
    <h1><strong>What can I ask the champions?</strong></h1>
    <br>
  </div>
  <div class="get-started-container" >
    <div class="col-3 column-started">
     <%= image_tag "boc_new_18.png", size: "300x300"%>
     <p class="">1. Upload your work in progress</p>
   </div>
   <div class="col-3 column-started">
     <%= image_tag "boc_new_19.png", size: "300x300"%>
     <p>2. Ask a question to the community</p>
   </div>
   <div class="col-3 column-started">
     <%= image_tag "boc_new_20.png", size: "300x300"%>
     <p>3. Get 10 constructive feedback</p>
   </div>
 </div>
 <div class=container-btn>
  <div class="vertical-center">
   <a class="btn btn-flat" href="#">Get Started!</a>
 </div>
</div>
<br>
<br>
</div>
 -->
<div class="join-community" style="background-color: white">
  <div class="join-community-container">
    <h1 id="testimony"><strong>They tried it ...</strong></h1>
    <br>
  </div>
  <div class="get-started-container" >
    <div class="col-4 column-testimony">
     <%= image_tag "feedback", size: "420x244"%>
   </div>
   <div class="col-4 column-testimony">
     <%= image_tag "feedback", size: "420x244"%>
   </div>
   <div class="col-4 column-testimony">
     <%= image_tag "feedback", size: "420x244"%>
   </div>
 </div>
<br>
<br>
</div>
