  <div class="feedback-container <%= level == 0 ? 'top' : 'not-top' %>" style="padding-left: <%= level * 10 %>px">

    <div class="d-flex">
    <p class="reply">
    <%= link_to feedback.user.username, user_profile_path(current_user.username), class: "a-reply"%>: <%= feedback.description %>
    </p>
      <i class="fas fa-edit" type="button" data-toggle="collapse" data-target="#collapse<%=feedback.id%>" aria-expanded="false" aria-controls="collapseExample"></i>    </button>
    </div>
    <div class="collapse" id="collapse<%=feedback.id%>">
      <div class="card card-body">
        <p>Edit your feedback</p>
          <%= simple_form_for([@post, feedback], remote: true) do |f| %>
            <%= f.input :description, label: false %>
            <%= f.button :submit, class: 'btn btn-success' %>
          <% end %>
        </div>
    </div>

  <%= render partial: "posts/form", locals: { feedback_id: feedback.id } %>

  <% feedback.feedbacks.each do |feedback| %>
    <%= render partial: "posts/post", locals: { feedback: feedback, level: (level += 1) } %>
  <% end %>
</div>
