<div class="most-commented">
<h5>Most commented...</h5>
</div>
<div class="cards">
  <% @posts.each do |post| %>
  <%= link_to post_path(post), class:"no-hover-link" do %>
  <div class="card">
  <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://source.unsplash.com/random)">
    <ul style="list-style-type: none;">
      <% post.photos.each do |photo| %>
      <%= cl_image_tag "#{photo.key}.jpg", height: 300, width: 400, crop: :fill %>
      <% end %>
      <% post.categories.each do |category| %>
      <li><%= category.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="card-infos">
    <div class="row">
      <div class="col-10">
        <h4> <%= post.title %> </h4>
        <%= post.user.user_name %>
       <h5><%= post.description %></h5>
      </div>
      <div class="col-2">right</div>
     </div>
  </div>
  </div>
  <% end %>
  <% end %>
</div>

