<div class="background">
<div class="container pt-5">
  <div class="row justify-content-center">
    <div id="column" class="col-12">
      <div class="col-md-12 form-container">
       <h2>How To Create a New Post in 4 Easy Steps:</h2>
       <br>
       <ul>
         <li> <h5> <i class="fas fa-arrow-circle-up"></i>  -  1. Upload your work  </h5></li>
         <li> <h5> <i class="fas fa-question-circle"></i>  -  2. Ask your question to the community  </h5></li>
         <li> <h5> <i class="fas fa-comments"></i>  -  3. Get feedback  </h5></li>
         <li> <h5> <i class="fas fa-sort-amount-up"></i>  -  4. Take your work to the next level ! </h5></li>
       </ul>

       <br>
       <br>

        <div class="form-box">
       <h3 class="black-text">Create a Post</h3>
       <br>
       <%= simple_form_for @post do |f| %>
       <%= f.input :title, input_html: { maxlength: 50 }%>
       <%= f.input :description, input_html: { maxlength: 500 } %>
       <%= f.input :photos, as: :file, input_html: {class: 'd-none hidden', multiple: true, accept: ".pdf", id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '↑ Upload a PDF' %>
       <embed src="" id="photo-preview" type="" class="hidden-embed-pdf">
        <%= f.input :category_ids, collection: Category.all, as: :check_boxes, label_method: :name, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %>
        <div class="center">
        <%= f.button :submit, value: 'Publish Post!', class: 'btn btn-info-reply' %></div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
