<% content_for :meta_title, "#{@post.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @post.description %>
<% content_for :meta_image, cl_image_path(@post.photos.first) %>

<div class="row px-5">
  <div class="col-8 py-5">
    <div class="post d-flex justify-content-center">
      <% @post.photos.each do |photo| %>
      <%= cl_image_tag "#{photo.key}.jpg", class: "card-detail", id: "post-img"%>
      <% end %>
    </div>
    <% if @post.user == current_user %>
    <%= link_to edit_post_path do %>
    <i class="fas fa-edit" id="edit-post"></i>
    <% end %>
    <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fas fa-trash-alt" id="delete"></i>
    <% end %>
    <% end %>
  </div>

  <div class="col-4" id="post-description">
    <div class="post-description">
      <h4><%= @post.title %></h4>
      <h5><%= @post.description %></h5>
        <p>Work by: <%= link_to @post.user.username,  user_profile_path(@post.user.username), class: "a-reply" %>
          </p>
      <% @post.categories.each do |category| %>
      <button class="btn-info-1" style="opacity: 0.8; margin: 10px 0;">
      <%= category.name %>
      </button>
      <% end %>


      <div class="post-feedback">
        <%= simple_form_for([@post, @feedback], remote: true) do |f| %>
        <%= f.input :description, label: false %>
        <button class="btn btn-info"><%= f.button :submit, 'Share Feedback'%></button>
        <% end %>
        <% @post.feedbacks.where(feedback_id: nil).each do |feedback| %>
        <%= render partial: "posts/post", locals: { feedback: feedback, level: 0 } %>
        <% end %>
      </div>
    </div>
  </div>
</div>


