<% content_for :meta_title, "#{@post.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @post.description %>
<% photo = @post.photos.attached? ? @post.photos.first.key : "obt2gawnkhhze7popquskpu4gxop" %>
<% content_for :meta_image, cl_image_path(photo) %>

<div class="row px-5">
  <div class="col-8 py-5">
    <div class="post d-flex justify-content-center">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @post.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <%= cl_image_tag "#{photo.key}.jpg", class: "d-block w-100 card-detail", crop: :fill, height: 500, id: "post-img"%>
              </div>
          <% end %>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <% if @post.user == current_user %>
    <%= link_to edit_post_path do %>
    <i class="fas fa-edit" id="edit-post"></i>
    <% end %>
    <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fas fa-trash-alt" id="delete"></i>
    <% end %>
    <% end %>
  </div>

  <div class="col-4" id="post-description">
    <div class="post-description">
      <h4><%= @post.title.capitalize %></h4>
      <h5><%= @post.description.capitalize %></h5>
        <p>Work by: <%= link_to @post.user.username.capitalize,  user_profile_path(@post.user.username), class: "a-reply" %>
          </p>
      <% @post.categories.each do |category| %>
      <button class="btn-info-1" style="opacity: 0.8; margin: 10px 0;">
      <%= category.name %>
      </button>
      <% end %>


      <div class="post-feedback">
        <%= simple_form_for([@post, @feedback], remote: true) do |f| %>
        <%= f.input :description, label: false %>
        <div class="btn-container">
        <button class="btn btn-info-reply" style="margin-bottom: 35px;"><%= f.button :submit, 'Share Feedback'%></button>
        </div>
        <% end %>
        <% @post.feedbacks.where(feedback_id: nil).reverse.each do |feedback| %>
        <%= render partial: "posts/post", locals: { feedback: feedback, level: 0 } %>
        <% end %>

    </div>
  </div>
      </div>
</div>


